<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
	    <thead>
	        <tr>
	            <th> Aumentos </th>
	        </tr>
	    </thead>
	    <tbody>
			<tr th:unless="${calculos}">
	            <td > No hay empleados registrados </td>
	        </tr>
	        <tr th:each="cal:${calculos}">
	            <td><span th:text="${cal}"></span></td>          
	        </tr>
	    </tbody>
	</table>	
	<a href="/persona">Ingresar nueva persona</a>
</body>
</html>